doctype html
html(lang="en")
  head
    title #{ title }
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(property="og:site_name", content="Resonite")
    meta(property="og:title", content=title)
    meta(property="og:type", content=`resonite.${pageType}`)
    link(rel="manifest", href="/manifest.webmanifest")
    link(rel="icon", href="/favicon.ico", sizes="32x32")
    link(
      rel="icon",
      href="/images/favicons/go_resonite_logo.svg",
      type="image/svg+xml"
    )
    link(
      rel="apple-touch-icon",
      href="/images/favicons/go_resonite_logo.apple.png"
    )
    link(
      rel="stylesheet",
      href="https://cdn.jsdelivr.net/npm/water.css@2/out/dark.css"
    )
    link(rel="stylesheet", href="/stylesheets/style.css")
    link(rel="preconnect", href="https://api.resonite.com")
    link(rel="preconnect", href="https://assets.resonite.com")
    link(rel="preconnect", href="https://fonts.googleapis.com")
    script(type="importmap").
      {
          "imports": {
              "three": "https://cdn.jsdelivr.net/npm/three/build/three.module.js",
              "@photo-sphere-viewer/core": "https://cdn.jsdelivr.net/npm/@photo-sphere-viewer/core@5/index.module.js"
          }
      }
    block head
    block client-scripts
    style.
      @import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
  body(class=bodyClass)
    header.center
      a.logo(href="/")
        img(src="/images/resonite.png", alt="")
        | go.resonite.com
    main
      block content
        h1 Placeholder
    footer
      p.center
        span Copyright ©
        a(href="https://yellowdogman.com/imprint.html") Yellow Dog Man Studios s.r.o.
      ul.center.small.footer-links
        li.footer-link
          a(href="/credits") Credits
        li.footer-link
          a(href="/") Home
        li.footer-link
          a(href="https://resonite.com") Main Website
