extends layout

include mixins/panorama-viewer.pug

block head
  meta(property="og:image", content=ogThumbnailUrl)
  meta(property="og:description", content!=description)
  meta(name="twitter:card", content="summary_large_image")
  link(type="application/json+oembed", href=jsonUrl)
  link(
    rel="stylesheet",
    href="https://cdn.jsdelivr.net/npm/@photo-sphere-viewer/core/index.min.css"
  )
  link(rel="stylesheet", href="/stylesheets/panoramaViewer.css")

block client-scripts
  script(type="module", src="/js/panorama-viewer.js")

block content
  h1 !{ name }
    .center
      +panorama-viewer(go360ImageUrl, goThumbnailUrl, `A preview image of the '${title}' session.`)

  dl.infobox
    .row
      dt Host:
      dd #{ hostUsername }
    .row
      dt Version:
      dd #{ appVersion }
    .row
      dt Users (#{ totalJoinedUsers }/#{ maxUsers }): 
      dd #{ sessionUsers.map(user => user.username).join(", ") }
  .center
    a.btn(href=`ressession:///${sessionId}`) Join Session!
  p.center
    a(href="https://wiki.resonite.com/go.resonite.com") Need Help?

  h2.subheading Alternative URLs
  ul
    li #[strong Session Url:] 
      span.select-all #{ `ressession:///${sessionId}` }
    li #[strong Connection Urls:] 
      ul
        each url in sessionURLs
          li
            span.select-all= url
