extends layout

block head
    meta(property="og:title" content=title)
    meta(property="og:type" content="resonite.session")
    meta(property="og:image" content=thumbnailUrl)
    meta(property="og:description" content!=description)
    meta(name="twitter:card" content="summary_large_image")
    link(type="application/json+oembed" href=urlPath + "/json")


block content
    h1 !{name}

    .center 
        img(src=thumbnailUrl alt=`A preview image of the '${title}' session.`)

    ul
        li #[strong Host:] #{hostUsername}
        li #[strong Version:] #{appVersion}
        li #[strong Users (#{totalJoinedUsers}/#{maxUsers}):] #{sessionUsers.map(user => user.username).join(", ")}
    div.center
        a.btn(href=`ressession:///${sessionId}`) Join Session!
    p.center 
        a(href="https://wiki.resonite.com/go.resonite.com") Need Help?

    h2.subheading Alternative URLs 
    ul
        li #[strong Session Url:] #{`ressession:///${sessionId}`}
        li #[strong Connection Urls:] 
            ul
                each url in sessionURLs 
                    li= url