extends layout

block content
  h1 Active Sessions

  div(class="grid")
    each session in sessions
      div(class="grid-item")
        p !{session.name}
        p= `Users: ${session.joinedUsers}/${session.maxUsers}`
        p= `Host: ${session.hostUsername}`
        a(href=`/session/${session.sessionId}`) See details
