extends layout

include mixins/panorama-viewer.pug
include mixins/mmc.pug

block head
  meta(property="og:type", content="resonite.world")
  meta(property="og:image", content=ogThumbnailUrl)
  meta(property="og:description", content=ogDescription)
  meta(name="twitter:card", content="summary_large_image")
  link(type="application/json+oembed", href=jsonUrl)
  link(
    rel="stylesheet",
    href="https://cdn.jsdelivr.net/npm/@photo-sphere-viewer/core/index.min.css"
  )
  link(rel="stylesheet", href="/stylesheets/panoramaViewer.css")

block client-scripts
  script(type="module", src="/js/panorama-viewer.js")

block content
  h1 !{ name }

  .center
    +panorama-viewer(go360ImageUrl, goThumbnailUrl, `A preview image of the '${title}' world.`)

  dl.infobox
    .row
      dt By:
      dd #{ ownerName }
    .row
      dt Description:
      dd !{ description }
    .row
      dt Created on:
      dd #{ creationTime }
    if isPublished
      .row
        dt First published on:
        dd #{ firstPublishTime }
    else
      .row
        dt Published:
        dd.warning Not Published
    .row
      dt Last modified on:
      dd #{ lastModificationTime }
    .row
      dt Visits:
      dd #{ visits }
    .row
      dt Tags:
      dd #{ tags.join(", ") }
  .center
    a.btn(href=`resrec:///${ownerId}/${id}`) Open World!
  p.center
    a(href="https://wiki.resonite.com/go.resonite.com") Need Help?
  h2.subheading Alternative URLs
  ul
    li #[strong Record Url:] 
      span.select-all #{ `resrec:///${ownerId}/${id}` }
  if mmc
    +mmcMixin(mmc)
