extends layout

include mixins/mmc.pug

block head
    meta(property="og:type" content="resonite.world")
    meta(property="og:image" content=thumbnailUri)
    meta(property="og:description" content=description)
    meta(name="twitter:card" content="summary_large_image")
    link(type="application/json+oembed" href=urlPath + "/json")

block content
    h1 !{name}

    .center 
        img(src=thumbnailUri alt=`A preview image of the '${title}' world.`)

    dl.infobox
        .row
            dt By: 
            dd #{ownerName}
        .row
            dt Description: 
            dd #{description}
        .row
            dt First published on: 
            dd #{firstPublishTime}
        .row
            dt Last modified on: 
            dd #{lastModificationTime}
        .row
            dt Tags: 
            dd #{tags.join(", ")}
    div.center
        a.btn(href=`resrec:///${ownerId}/${id}`) Open World!
    p.center 
        a(href="https://wiki.resonite.com/go.resonite.com") Need Help?
    h2.subheading Alternative URLs 
    ul
        li #[strong Record Url:] #{`resrec:///${ownerId}/${id}`}
    if mmc
        +mmcMixin(mmc)
