mixin mmcMixin(mmcData)
  section.mmc
    h2
      | MMC #{ mmcData.year } Information
      img(src="/images/CreatorJam.png")
    ul
      if mmcData.entered
        li ✅ This world is entered into MMC #{ mmcData.year }!
        if isPublished
          li ✅ This world is published!
        else
          li.warning ❌ This world is #[strong NOT] published!
        if mmcData.categories.length > 0
          li It is entered into the following Categories:
            ul
              each category in mmcData.categories
                li ✅ !{ category.title }
        if mmcData.categories.length > 1
          li.warning ❌ It is entered into more than one category.
        if mmcData.categories.length == 0
          li.warning ❌ It is #[strong NOT] entered into any categories.
      else
        li.warning ❌ This world is #[strong NOT] entered into MMC #{ mmcData.year }, due to: !{ mmcData.error }
    p See #[a(href=`https://wiki.resonite.com/${mmcData.wikiPath}`) our wiki] for more information on MMC #{ mmcData.year }.
